/* SECCION PRESENTACION */

.main__seccion1 {

    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  
  }
  
  .seccion1__cotenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: animacionSeccion1;
    animation-duration: 1.5s;
    text-align: center;
  
  }
  
  
  @keyframes animacionSeccion1 {
  
    0%{transform: translateX(-300%);}
    100%{transform: translateX(0);}
  
    
  }
  
  
  
  
  .seccion1__cotenido div a svg {
    margin-top: 2rem;
    width: 4rem;
    margin-right: 3rem;
    background-color: white;
    padding: .5rem;
    border-radius: 1rem;
  }
  
  
  .seccion1__cotenido img {
  
    width: 20rem;
    border-radius: 50%;
    margin: 0 auto;
  
  }
  
  .seccion1__cotenido h1 {
  
    padding-top: 5rem;
    font-size: 2rem;
    color:var(--blanco);
    
  }
  
  
  
  /* SECCION PRESENTACION PARA TABLETS*/
  
  
  @media (min-width: 765px) {
  
   .seccion1__cotenido{
    text-align: center;
   }
  
  
  }



  /* SECCION PRESENTACION PARA PC */
  
  @media (min-width: 1024px) {
  
    @keyframes animacionSeccion1 {
  
      0%{transform: translateY(-300%);}
      100%{transform: translateY(0);}
    
      
    }
   
   }