/* SECCION SOBRE MI */

.main__seccion2 {
    padding-top: 5rem;
    color: var(--blanco);
    width: 90%;
    margin: 0 auto;



}

.main__seccion2 h2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.main__seccion2 p {
    font-size: 1.6rem;
}

.main__seccion2 .seccion2__contenido {
    line-height: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: animacionSeccion2;
    animation-duration: 1.5s;
    padding-bottom: 3rem;
    text-align: justify;

}



@keyframes animacionSeccion2 {

    0% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }


}





/* PARA TABLETS */
@media (min-width:765px) {

   
.main__seccion2 .seccion2__contenido {
     margin: 0 auto;;

}


    .main__seccion2 p {
        font-size: 2rem;
    }


    .main__seccion2 .seccion2__contenido {
        width: 70%;

    }

}






@media (min-width: 1024px) {

    @keyframes animacionSeccion2 {

        0% {
            transform: translateY(-300%);
        }

        100% {
            transform: translateY(0);
        }


    }

    .main__seccion2 .seccion2__contenido {
        width: 60%;

    }

}